# セキュリティ上、絶対に出してはいけないもの
.ssh/
.bash_history
.bashrc
.profile
.python_history
.lesshst
.wget-hsts
wget-log
nohup.out

# 開発環境・一時ファイル
__pycache__/
venv/
.cache/
.copilot/
.dotnet/
.local/
.vscode-server/
.ansible/

# アプリの設定やログ（必要に応じて除外）
instance/
server_log.json


achievements.json
user_stats.json
trivia.json
unlock_rules.json
static/charts/
static/uploads/
bot.py
othello/